{{ define "views/404.html" }}
{{ template "layout_top" . }}
<div class="content full-height" data-pagetitle="Error 404!" data-pagesubtitle="Error 404!">
    <div class="bg-top"></div>
    <div class="error-content">
        <div class="overlay"></div>
        <div class="bg" data-bg="/public/static/images/bg/2.jpg"></div>
        <div class="error-wrap fl-wrap">
            <div class="container">
                <h2>404</h2>
                <p>We're sorry, but the Page you were looking for, couldn't be found.</p>
                <a href="/" class="btn ajax color-bg"><span>Back to Home Page</span></a>
            </div>
        </div>
    </div>
</div>
{{ template "layout_bottom" }}
{{ end }}                        