{{ define "views/index.html" }}
{{ template "layout_top" . }}
<div class="content" data-pagetitle="About Me" data-pagesubtitle="Home">
    <div class="bg-top"></div>
    <div class="bg-bottom"></div>
    <!--section   -->
    <section class="hero-section">
        <div class="bg-wrap hero-section_bg">
            <div class="bg" data-bg="public/static/images/bg/1.jpg"></div>
        </div>
        <div class="hero-section-title">
            <div class="row">
                <div class="col-md-7">
                    <div class="rotate_text hero-decor-let">
                        <div>Web Design</div>
                        <div><span>Ui/Ux Design</span></div>
                        <div>Branding</div>
                        <div><span>Ecommerce</span></div>
                    </div>
                    <h2>很高兴见到你！这是我的秘密基地。</h2>

                    <div class="video_btn-wrap fl-wrap"><a data-src="https://vimeo.com/176916362" class="image-popup gradient-bg"><i class="fas fa-play"></i></a><span>Play  Video Presentation</span></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end  -->							
    <!--section   -->
    <section>
        <div class="row">
            <div class="col-md-7">
                <p>这是一个用Go编写的小型博客网站，俗话说，麻雀虽小，五脏俱全。源码：<a href="https://github.com/beslow/goblog" class="home-description-link" target="_blank">https://github.com/beslow/goblog</a>
                </p>
                <div class="facts-container fl-wrap">
                    <!-- inline-facts -->
                    <div class="inline-facts-wrap">
                        <div class="inline-facts">
                            <div class="milestone-counter">
                                <div class="stats animaper">
                                    <div class="num" data-content="0" data-num="9">0</div>
                                </div>
                            </div>
                            <h6>完成的项目</h6>
                        </div>
                    </div>
                    <!-- inline-facts end -->
                    <!-- inline-facts  -->
                    <div class="inline-facts-wrap">
                        <div class="inline-facts">
                            <div class="milestone-counter">
                                <div class="stats animaper">
                                    <div class="num" data-content="0" data-num="18000">0</div>
                                </div>
                            </div>
                            <h6>工作时长(小时)</h6>
                        </div>
                    </div>
                    <!-- inline-facts end -->
                    <!-- inline-facts  -->
                    <div class="inline-facts-wrap">
                        <div class="inline-facts">
                            <div class="milestone-counter">
                                <div class="stats animaper">
                                    <div class="num" data-content="0" data-num="15">0</div>
                                </div>
                            </div>
                            <h6>Awards won</h6>
                        </div>
                    </div>
                    <!-- inline-facts end --> 
                </div>
            </div>
            <div class="col-md-5">
                <div class="hero-info-list fl-wrap">
                    <ul>
                        <li><strong>年龄</strong><span>{{ .age }}</span></li>
                        <li><strong>所在地</strong><span>{{ .city }}</span></li>
                        <li><strong>爱好</strong><span>{{ .hobby }}</span></li>
                    </ul>
                    <a href="portfolio.html" class="btn ajax fl-btn color-bg"><span>My Portfolio</span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- section end  -->						
    <section class="serv-sec">
        <div class="section-title fl-wrap">
            <h3>Services That I Provide</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="column-wrapper_text services-item fl-wrap">
                    <span class="serv-number">01.</span>
                    <i class="fal fa-desktop"></i>
                    <h4> Web Design</h4>
                    <p>Praesent nec leo venenatis elit semper aliquet id ac enim. Maecenas nec mi leo. Etiam venenatis ut dui non hendrerit. Integer dictum, diam vitae blandit accumsan, dolor odio tempus arcu .</p>
                    <ul class="serv-list">
                        <li>Code</li>
                        <li>Design</li>
                        <li>Photoshop</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="column-wrapper_text services-item fl-wrap">
                    <span class="serv-number">02.</span>
                    <i class="fab fa-pagelines"></i>
                    <h4> Branding</h4>
                    <p>Praesent nec leo venenatis elit semper aliquet id ac enim. Maecenas nec mi leo. Etiam venenatis ut dui non hendrerit. Integer dictum, diam vitae blandit accumsan, dolor odio tempus arcu .</p>
                    <ul class="serv-list">
                        <li>Logos</li>
                        <li>Design</li>
                        <li>Concept</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="column-wrapper_text services-item fl-wrap">
                    <span class="serv-number">03.</span>
                    <i class="fal fa-mobile-android"></i>
                    <h4> UI/UX Design</h4>
                    <p>Praesent nec leo venenatis elit semper aliquet id ac enim. Maecenas nec mi leo. Etiam venenatis ut dui non hendrerit. Integer dictum, diam vitae blandit accumsan, dolor odio tempus arcu .</p>
                    <ul class="serv-list">
                        <li> Commercials</li>
                        <li> Personal </li>
                        <li> Store </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="column-wrapper_text services-item fl-wrap">
                    <span class="serv-number">03.</span>
                    <i class="fal fa-camera-alt"></i>
                    <h4>Photography</h4>
                    <p>Praesent nec leo venenatis elit semper aliquet id ac enim. Maecenas nec mi leo. Etiam venenatis ut dui non hendrerit. Integer dictum, diam vitae blandit accumsan, dolor odio tempus arcu .</p>
                    <ul class="serv-list">
                        <li> Commercials</li>
                        <li> Weddings </li>
                        <li> Portraits  </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--section  --> 
    <section class="scroll_sec" id="sec5">
        <div class="section-title fl-wrap">
            <h3>Clents And Testimonilas</h3>
        </div>
        <div class="testilider fl-wrap">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- swiper-slide -->
                    <div class="swiper-slide">
                        <div class="testi-item fl-wrap">
                            <span class="testi-number">01.</span>
                            <div class="testi-avatar"><img src="public/static/images/avatar/1.jpg" alt=""></div>
                            <h3>Liza Mirovsky</h3>
                            <p>"All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over "</p>
                            <a href="#" class="teti-link" target="_blank">Via Twitter</a>
                        </div>
                    </div>
                    <!-- swiper-slide end-->
                    <!-- swiper-slide -->
                    <div class="swiper-slide">
                        <div class="testi-item fl-wrap">
                            <span class="testi-number">02.</span>
                            <div class="testi-avatar"><img src="public/static/images/avatar/2.jpg" alt=""></div>
                            <h3>Andy Smith</h3>
                            <p>"Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. "</p>
                            <a href="#" class="teti-link" target="_blank">Via Facebook</a>
                        </div>
                    </div>
                    <!-- swiper-slide end-->
                    <!-- swiper-slide -->
                    <div class="swiper-slide">
                        <div class="testi-item fl-wrap">
                            <span class="testi-number">03.</span>
                            <div class="testi-avatar"><img src="public/static/images/avatar/3.jpg" alt=""></div>
                            <h3>Mery Trust</h3>
                            <p>"All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over "</p>
                            <a href="#" class="teti-link" target="_blank">Via Twitter</a>
                        </div>
                    </div>
                    <!-- swiper-slide end-->
                    <!-- swiper-slide -->
                    <div class="swiper-slide">
                        <div class="testi-item fl-wrap">
                            <span class="testi-number">04.</span>
                            <div class="testi-avatar"><img src="public/static/images/avatar/4.jpg" alt=""></div>
                            <h3>Centa Simpson</h3>
                            <p>"Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. "</p>
                            <a href="#" class="teti-link" target="_blank">Via Facebook</a>
                        </div>
                    </div>
                    <!-- swiper-slide end-->
                </div>
            </div>
        </div>
        <div class="ts-controls">
            <div class="tc-button tc-button-prev"><i class="fal fa-angle-left"></i></div>
            <div class="tc-button tc-button-next"><i class="fal fa-angle-right"></i></div>
        </div>
        <div class="ss-pagination-wrap">
            <div class="tc-pagination slider-pag"></div>
        </div>
        <!-- client-list -->
        <div class="fl-wrap client-list">
            <ul class="">
                <li><a href="#" target="_blank"><img src="public/static/images/clients/1.png" alt=""></a></li>
                <li><a href="#" target="_blank"><img src="public/static/images/clients/2.png" alt=""></a></li>
                <li><a href="#" target="_blank"><img src="public/static/images/clients/3.png" alt=""></a></li>
                <li><a href="#" target="_blank"><img src="public/static/images/clients/4.png" alt=""></a></li>
            </ul>
            <!-- client-list end-->
        </div>
    </section>
    <!--section end-->                							
    <div class="to-top-wrap">
        <div class="to-top color-bg"><i class="fas fa-caret-up"></i></div>
    </div>
</div>
{{ template "layout_bottom" }}
{{ end }}