{{ define "views/resume.html" }}
{{ template "layout_top" . }}
<div class="content" data-pagetitle="My story" data-pagesubtitle="Resume">
    <div class="bg-top"></div>
    <div class="bg-bottom"></div>
    <!--section  --> 
    <section  >
        <div class="section-title fl-wrap">
            <h3>Professhional Summary</h3>
        </div>
        <div class="box-text-wrap fl-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="fl-wrap content-box single_pb cb_dec">
                        <p>2013年毕业后，就来到了上海开始工作，大部分时间都在从事Ruby相关的工作，使用的是Ruby on Rails框架。
                            2021年开始尝试转Go语言，工作中用Go开发了不少的工具，也用Go写过简单的API服务。
                            这个博客就是用Go写的，主要用到了Gin和Go-admin这2个框架，源码在&nbsp;&nbsp;
                            <a href="https://github.com/beslow/goblog" class="home-description-link" target="_blank">https://github.com/beslow/goblog</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box-text-wrap_item content-box" style="overflow: auto;">
                        <h5>技术栈</h5>
                        <ul style="float: left">
                            <li style="width: 150px"><span>Golang</span></li>
                            <li><span>Ruby</span></li>
                            <li><span>JS</span></li>
                            <li><span>Shell</span></li>
                        </ul>
                        <ul style="float: left">
                            <li style="width: 150px"><span>Rails</span></li>
                            <li><span>RSpec</span></li>
                            <li><span>React</span></li>
                            <li><span>Ajax</span></li>
                        </ul>
                        <ul style="float: left">
                            <li><span>Gin</span></li>
                            <li><span>Gorm</span></li>
                            <li><span>go-Admin</span></li>
                            <li style="width: 150px"><span>Docker</span></li>
                        </ul>
                        <ul style="float: left">
                            <li style="width: 150px"><span>MySQL</span></li>
                            <li><span>Redis</span></li>
                            <li><span>Mongodb</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--section end-->                							
    <!--section  --> 
    <section  >
        <div class="row">
            <div class="col-md-12">
                <div class="section-title fl-wrap">
                    <h3>Work History</h3>
                </div>
                <div class="resume-item-container fl-wrap">
                    {{ range .history_works }}
                        <!--resume-item--> 
                        <div class="resume-item fl-wrap">
                            <h4>{{ .Company }}</h4>
                            <h5>{{ .JobTitle }}</h5>
                            <p>{{ .Description }}</p>
                            <span class="resume-date">{{ .FromTo }}</span>
                        </div>
                        <!--resume-item end--> 
                    {{ end }}										
                </div>
            </div>
        </div>
    </section>
    <!--section end-->  							
    <!--section  --> 
    <!-- <section>
        <div class="fl-wrap">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-title fl-wrap">
                        <h3>Design Skills</h3>
                    </div>
                    <div class="skillbar-box animaper"> -->
                        <!-- skill  -->
                        <!-- <div class="custom-skillbar-title"><span>Photoshop</span></div>
                        <div class="skill-bar-percent">95%</div>
                        <div class="skillbar-bg" data-percent="95%">
                            <div class="custom-skillbar"></div>
                        </div> -->
                        <!-- skill  -->
                        <!-- <div class="custom-skillbar-title"><span>Figma</span></div>
                        <div class="skill-bar-percent">65%</div>
                        <div class="skillbar-bg" data-percent="65%">
                            <div class="custom-skillbar"></div>
                        </div> -->
                        <!-- skill  -->
                        <!-- <div class="custom-skillbar-title"><span>Sketch</span></div>
                        <div class="skill-bar-percent">75%</div>
                        <div class="skillbar-bg" data-percent="75%">
                            <div class="custom-skillbar"></div>
                        </div> -->
                        <!-- skill  -->
                        <!-- <div class="custom-skillbar-title"><span>LightRoom</span></div>
                        <div class="skill-bar-percent">65%</div>
                        <div class="skillbar-bg" data-percent="65%">
                            <div class="custom-skillbar"></div>
                        </div> -->
                        <!-- skill  -->
                        <!-- <div class="custom-skillbar-title"><span>Adobe XD</span></div>
                        <div class="skill-bar-percent">75%</div>
                        <div class="skillbar-bg" data-percent="75%">
                            <div class="custom-skillbar"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="section-title fl-wrap">
                        <h3>Developer Skills</h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="piechart-holder fl-wrap animaper" data-skcolor="#F89020"> -->
                        <!-- 1  -->
                        <!-- <div class="piechart" >
                            <span class="chart" data-percent="85">
                            <span class="percent"></span>
                            </span>
                            <div class="clearfix"></div>
                            <div class="skills-description">
                                <h4>Jqeury</h4>
                            </div>
                        </div> -->
                        <!-- 1 end -->
                        <!-- 2  -->
                        <!-- <div class="piechart">
                            <span class="chart" data-percent="95">
                            <span class="percent"></span>
                            </span>
                            <div class="clearfix"></div>
                            <div class="skills-description">
                                <h4>Phyton</h4>
                            </div>
                        </div> -->
                        <!-- 2 end  -->
                        <!-- 3  -->
                        <!-- <div class="piechart">
                            <span class="chart" data-percent="80">
                            <span class="percent"></span>
                            </span>
                            <div class="clearfix"></div>
                            <div class="skills-description">
                                <h4>React JS</h4>
                            </div>
                        </div> -->
                        <!-- 3  end-->
                        <!-- 3  -->
                        <!-- <div class="piechart">
                            <span class="chart" data-percent="70">
                            <span class="percent"></span>
                            </span>
                            <div class="clearfix"></div>
                            <div class="skills-description">
                                <h4>PHP / MYSQL</h4>
                            </div>
                        </div> -->
                        <!-- 3  end-->											
                        <!-- <div class="chart-dec"><span><i class="fal fa-plus"></i></span></div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--section end--> 								
    <div class="to-top-wrap">
        <div class="to-top color-bg"><i class="fas fa-caret-up"></i></div>
    </div>
</div>
{{ template "layout_bottom" }}
{{ end }}

                            